@model Entity.Concrete.Category

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Güncelleme</h1>
<hr />
<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="input-group mb-3 border">
        <input type="text" asp-for="CategoryName" class="form-control text-black" placeholder="Kategori Adı">
    </div>

    <button class="btn btn-success">Kaydet</button>
</form>


